body {
  margin: 0%;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.main-header-div {
  background: url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png)
    no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 15px;
}
.logo {
  margin: auto 0px;
}
a {
  color: #01b96b;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
.navBar {
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-between;
}
.navBar div {
  display: flex;
  /* border: 1px solid yellow; */
}

.Button img {
  padding: 0;
  font-size: inherit;
  position: inherit;
  display: inline-block;
  margin-right: 13px;
  vertical-align: middle;
}
.ProfileNavbar-loggedIn .EmeraldButton {
  margin-left: 20px;
}
.Button {
  text-align: center;
  height: 35px;
  display: inline-block;
  padding: 7px 14px 10px 9px;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  width: auto;
  background-color: #1bb76e;
  box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
  color: #fff;
  white-space: nowrap;
}
.upload {
  box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
  padding: 0 10px 0 9px;
  overflow: hidden;
  margin: auto 20px;
  line-height: 35px;
}
.EmeraldButton {
  background: #6432f9;
  box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
  padding: 0 10px 0 9px;
  overflow: hidden;
  margin: auto 0;
  line-height: 35px;
}
.NavbarNotifications {
  display: inline-flex;
  margin: auto 10px;
}
.Searchbar-textInput {
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  padding: 8px 35px 8px 10px;
  border-radius: 3px;
  width: 100%;
  outline: 0 none;
  opacity: 0.8;
  min-height: 34px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #fff;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;
}
.Searchbar-submitInput {
  font-size: 20px;

  margin: auto;
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0 none;
  padding: 8px;
  cursor: pointer;
}

.NavbarContainer-center {
  max-width: 550px;
  margin: 0;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}

.HomeCover .Searchbar,
.TagsCover .Searchbar {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}
.Searchbar {
  position: relative;
  float: right;
  width: 100%;
  max-width: 550px;
}
.Dropdown-title {
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: right;
  color: #babec4;
  cursor: pointer;
}
.NavbarAvatar {
  height: 37px;
  width: 37px;
  margin-right: 0;
  vertical-align: middle;
  margin-left: 0;
  display: inline-block;
  background-image: url(https://imgur.com/user/singh202/avatar);
}
.header-h1 p {
  font-size: 24px;
  color: #aed8ea;
  line-height: 27.6px;
  margin: 12px auto;
  width: fit-content;
}
.options {
  display: flex;
  justify-content: space-between;
}
.options span {
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #ffffff;

  line-height: 16px;
}
.tags-incloser {
  width: 92%;
  /* border: 1px solid white; */
  margin: auto;
  padding: 5px;
}
.tags {
  display: flex;
}

.tags > div {
  width: 10%;
  /* border: 1px solid yellow; */
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 5px;
}
.tags img{
  height: auto;
}
.tags div:nth-child(1) {
  width: 20%;
  /* border: 1px solid white; */
}
.tags div p {
  width: fit-content;
  color: white;
  margin: auto;
}
.secondary-navBar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  margin-top: 20px;
  padding: 5px;
  font-size: 20px;

}
.secondary-navBar div {
  display: flex;
  /* border: 1px solid aqua; */
  /* justify-content: space-between; */
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid silver;
  color: silver;
  margin-top: 5px;
}
.logo-sec-div {
  height: 30px;
  width: 30px;
}
.middle-sec-div {
  /* border: 1px solid white; */
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  margin-top: 0%;
}

.middle-sec-div div span {
  display: flex;
  /* border: 1px; */
  margin: auto 0;
}
.middle-sec-div div span div {
  margin: auto 5px;
}
svg:not(:root) {
  overflow: hidden;
  color: #ffffff;
}

.Tooltip-dataTitle.iconFilter {
  position: relative;
}
.CoverChangedView > * {
  display: flex;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
  margin: auto 0;
  width: 50px;
}
.logoss {
  margin-top: 4px;
}
.middle-nav {
  margin-left: 10%;
  margin-right: 1%;
}
.right-sec-middle-div {
  margin-left: 5%;
}
.most-viral-div {
  margin-left: 10px;
}
.middle-search-div {
  width: 60%;
}
.user-avtar {
  overflow: hidden;
  border-radius: 999px;
  margin-left: 5px;
}
.Dropdown-title span {
  margin: auto 0;
}
.content-div {
  height: fit-content;
  font-size: 12px;
  width: 100%;
  /* background-color: #01b96b; */
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 14px;
}
.content-div p{
  color: #aed8ea;
  font-size: 14px;
}
.content-div :last-child{
  font-size: 12px;
  color: silver;
}

.first-div {
  background-color: #4070b5;
}
.sec-div {
  background-color: #4d549a;
}
.third-div {
  background-color: #328d67;
}
.fourth-div {
  background-color: #c56579;
}
.seventh-div {
  background-color: #132d31;
}
.eight-div {
  background-color: #2b1a5a;
}
.ninth-div {
  background-color: #ba519f;
}
.pos-rel{
  position: absolute;
  top: 103px;
  /* right: 15px; */
}
.pos-abs{
  position:relative;

 z-index: 0;
}
  .fifth-div {
    background-color: #328d67;
    top: 72px;
  }
  .sixth-div {
    background-color: #e47d57;
    top: 86px;

  }
  .without-scroll{
    width: 80%;
    /* border: 1px solid yellow; */
    height: 50px;
    margin: auto;
  }
  .secondary-navBar div{
    display: flex;
    color: silver;
  }
  .opt-flex{
    justify-content: space-between;
    /* border: 1px solid aqua; */
    width: 80%;
  }
  .opt-flex div span{
    display: flex;
    margin: auto 0;
  }
  .opt-flex div span div{
    margin: auto 5px;
  }